USE [tranguyen]
GO
/****** Object:  StoredProcedure [dbo].[LietKeDaiLy]    Script Date: 5/31/2017 9:51:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[LietKeDaiLy]
AS
BEGIN
	SELECT * FROM DaiLy
END